<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team28.qlnhathuoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLNhaThuoc">
        <activity
            android:name=".ui.chart.chart_medicine.ChartMedicineActivity"
            android:label="@string/thong_ke_thuoc"
            android:exported="false" />
        <activity
            android:name=".ui.chart.chart_pharmacy.ChartPharmacyActivity"
            android:exported="false"
            android:label="@string/thong_ke_quy" />
        <activity
            android:name=".ui.bill.bill_view.bill_detail.BillDetailActivity"
            android:exported="false"
            android:label="@string/ct_hoa_don" />
        <activity
            android:name=".ui.bill.bill_create.BillCreateActivity"
            android:exported="false"
            android:label="@string/lap_hoa_don" />
        <activity
            android:name=".ui.medicine.medicine_form.MedicineFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pharmacy.pharmacy_form.PharmacyFormActivity"
            android:exported="false"
            android:label="Nhà thuốc" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>